<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--------------------- h e a d    F r a g m e n t --------------------->
<head th:fragment="head(title='')">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
    <link rel="stylesheet" th:href="@{/bootstrap/font-awesome.min.css}">
</head>
<!-- ------------------ N a v b a r ---------------------- -->
<div th:fragment="navigation" >
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" th:href="@{/}">PONDIT STUDENT APP</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/student/show}">Show All Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/department/add}">Add Department</a>
            </li>
<li class="nav-item">
                <a class="nav-link" th:href="@{/department/assignDepartment}">Assign Department</a>
            </li>

            <!-- Dropdown -->
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">-->
<!--                    Dropdown link-->
<!--                </a>-->
<!--                <div class="dropdown-menu">-->
<!--                    <a class="dropdown-item" href="#">Link 1</a>-->
<!--                    <a class="dropdown-item" href="#">Link 2</a>-->
<!--                    <a class="dropdown-item" href="#">Link 3</a>-->
<!--                </div>-->
<!--            </li>-->
        </ul>
    </nav>

</div>

</html>